@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
a:link {
  color: unset;
}
a:visited {
  color: unset;
}
body {
  font-family: "Fira Code", monospace;
  background-color: rgba(25, 26, 30);
  color: white;
}
.main-wrapper {
  background-image: url(./images/overlay.png);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
/* HERO SECTİON */
.hero {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(180deg, rgba(64, 48, 44, 0.5) 0%, rgba(66, 43, 42, 0.5) 50%, rgba(68, 35, 38, 0.5) 100%);
  height: 42rem;
  width: 30rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  padding: 2rem;
}
.right-side {
  overflow: auto;
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}
.hero img {
  border-radius: 8rem;
  transform: translateY(-28px);
}
.hero p {
  max-width: 50rem;
  letter-spacing: 0.3px;
  line-height: 2rem;
}
/* CONTACT BAR */
.contact {
  background: linear-gradient(135deg, rgba(255, 78, 78, 0.5) 0%, rgba(243, 148, 111, 0.5) 100%);
  width: 4rem;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 3rem;
  border-radius: 1rem;
  transform: translateX(-1rem);
  box-shadow: -1px 4px 125px 2px rgba(247, 80, 80, 0.68);
}
.contact i {
  cursor: pointer;
  transition: all 200ms linear;
  color: black;
  opacity: 0.7;
}
.contact i:nth-child(4) {
  font-size: 2.8rem;
}
.contact i:hover {
  color: rgba(0, 0, 0, 0.7);
  transform: scale(0.98);
}
/* SKİLLS BAR */
.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 95%;
  width: 4rem;
  position: absolute;
  background: linear-gradient(45deg, rgba(255, 78, 78, 0.5) 0%, rgba(243, 148, 111, 0.5) 100%);
  border-radius: 1rem;
  box-shadow: -1px 4px 125px 2px rgba(247, 80, 80, 0.68);
  left: 1rem;
  font-size: 3rem;
  color: black;
  overflow: hidden;
  width: max-content;
}
.skills i,
img,
svg {
  opacity: 0.7;
}
.mask {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  height: 100%;
  width: 100%;
  mask: linear-gradient(transparent, white 15%, white 85%, transparent);
}
.scroller {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  justify-content: space-evenly;
  animation: slide 10s infinite linear;
}
.skills:hover .scroller {
  animation-play-state: paused;
}
@keyframes slide {
  to {
    transform: translateY(calc(-50% - 3rem));
  }
}
/* HAMBURGER MENU */
.hamburger-menu {
  position: absolute;
  top: 1rem;
  right: 1.1rem;
  padding: 0.1rem;
  box-shadow: -1px 4px 125px 2px rgba(247, 80, 80, 0.68);

  border-radius: 0.5rem;
  transition: all 400ms linear;
  background: linear-gradient(0deg, rgba(255, 78, 78, 0.6) 100%, rgba(243, 148, 111, 0.6) 0%);
  cursor: pointer;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  user-select: none;
}
.hamburger-menu:hover {
  background: linear-gradient(180deg, rgba(255, 78, 78, 0.6) 0%, rgba(243, 148, 111, 0.6) 100%);
}
.menu-icon {
  box-shadow: -1px 4px 80px 2px rgba(247, 80, 80, 0.68);
  position: relative;
  width: 50px;
  height: 50px;

  div {
    display: flex;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
  }
  span {
    position: absolute;
    display: block;
    width: 2rem;
    height: 2px;
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

    &:first-of-type {
      top: 0;
    }
    &:last-of-type {
      bottom: 0;
    }
  }
  &.active,
  .menu-icon__cheeckbox:checked + div {
    span {
      &:first-of-type {
        transform: rotate(45deg);
        top: 5px;
      }
      &:last-of-type {
        transform: rotate(-45deg);
        bottom: 5px;
      }
    }
  }
}
.menu {
  position: absolute;
  top: 1rem;
  right: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(255, 78, 78, 0.6) 0%, rgba(243, 148, 111, 0.6) 100%);
  height: 6rem;
  width: 10rem;
  border-radius: 0.7rem;
  color: rgba(7, 7, 7, 0.8);
  font-weight: 600;
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  user-select: none;
}
.menu span:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}
.hidden {
  display: none;
}
/* FORM SECTİON */
.form-main {
  color: white !important;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .main-wrapper {
    width: 100%;
    padding: 1.7rem 15rem 1.7rem 15rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
  }
  .form-head {
    margin-bottom: 1rem;
  }
  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .form-card {
      position: relative;
      width: 20vw;
      border: 2.5px solid rgba(255, 255, 255, 0.5);
      border-radius: 0.3rem;

      .form-input {
        padding: 1.5rem 2rem 1rem;
        width: 100%;
        border: 1px solid white;
        background: transparent;
        line-height: 2rem;

        &:valid,
        &:focus {
          border: 1px solid white;
        }

        &:valid ~ .form-label,
        &:focus ~ .form-label {
          color: black;
          top: 30%;
          transform: translateY(-70%);
          font-size: 13px;
          line-height: 23px;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          transition: background-color 9999s ease-in-out 0s;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      .form-label {
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
      }
      .form-textarea {
        padding: 20px 25px 15px;
        width: 100%;
        border-radius: 5px;
        background: transparent;
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        resize: none;
        box-sizing: border-box;

        &:valid,
        &:focus {
          border: 1px solid white;
        }

        &:valid ~ .form-textarea-label,
        &:focus ~ .form-textarea-label {
          color: white;
          top: 18%;
          transform: translateY(-82%);
          font-size: 13px;
          line-height: 23px;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          transition: background-color 9999s ease-in-out 0s;
        }
      }
      .form-textarea-label {
        position: absolute;
        left: 25px;
        top: 30%;
        margin: 0;
        font-size: 18px;
      }
    }
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0;
}
.btn-wrap button {
  color: rgba(255, 255, 255, 0.8);
  padding: 0 2rem;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 48px;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgba(247, 80, 80, 0.68);
  transition: all 150ms linear;
  box-shadow: -1px -250px 200px 302px rgba(247, 80, 80, 0.2);
}
.btn-wrap button:hover {
  background-color: rgba(247, 80, 80, 0.5);
}
